# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# PySpark / logs
*.log
*.parquet

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
.venv/

# virtualenv
.venv/

# runtime outputs
data/
label_queue/
logs/


# Airflow/Docker
infra/airflow/logs/
