version: "3.8"
services:
  airflow:
    image: apache/airflow:2.7.1-python3.10  # pinned, change only if needed
    container_name: airflow-local
    restart: unless-stopped
    env_file:
      - .env
    environment:
      # minimal memory-friendly settings
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth"
      _PIP_ADDITIONAL_REQUIREMENTS: ""
    volumes:
      - ../../:/opt/airflow/project:cached  # repo mounted; DAGs will be in project/infra/airflow/dags
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    ports:
      - "8085:8080"    # map airflow webserver 8080 -> host 8085
    user: "${AIRFLOW_UID:-50000}:${AIRFLOW_GID:-50000}"
    extra_hosts:
      - "localhost:192.168.65.254"
    command: >
      bash -c "
        airflow db upgrade &&
        airflow users create --username admin --firstname Airflow --lastname Admin --role Admin --email admin@example.com --password admin ||
        true &&
        # start scheduler in background and webserver in foreground
        airflow scheduler & airflow webserver
      "
    
